:root {
  --color-secondary-color: #fcd043;
  --color-primary-color: #313f38;
  --color-white: #fffcf6;
  --color-text: #000000;
  --color-error: #b03e3e;
  --color-success: #2a5b46;
  --color-attention: #dc9b39;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  background-color: var(--color-primary-color);
  color: var(--color-white);
  padding-top: 40px;
}

.container {
  width: 1900px;
  margin: auto;
  padding: 0 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  margin-right: 400px;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
  margin-right: 400px;
}

.nav-list {
  display: flex;
  gap: 70px;
}

.nav-link {
  display: block;
  font-size: 14px;
  line-height: 1.43;
  text-transform: uppercase;
}

.header-address {
  display: flex;
}

/* -----hero_section---- */
.hero {
  color: var(--color-white);
  background-color: var(--color-primary-color);
  padding-top: 82px;
}

.container-hero {
  position: relative;
}

.hero-title {
  font-size: 220px;
  line-height: 0.9;
  margin-bottom: 62px;
}
.hero-title-part {
  color: var(--color-secondary-color);
}
.hero-link {
  color: var(--color-secondary-color);
  font-size: 26px;
  line-height: 1.19;
  text-transform: uppercase;
}
.hero-text {
  position: absolute;
  right: 280px;
  bottom: 0px;
  width: 350px;
  height: 84px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}

.hero-text-since {
  position: absolute;
  right: 381px;
  top: 30px;
  background-image: url(../images/star.svg);
  background-position: left;
  background-repeat: no-repeat;
  width: 249px;
  height: 70px;
  font-size: 22px;
  line-height: 1.18;
  text-transform: capitalize;
  text-align: center;
  border: 1px solid var(--color-white);
  display: flex;
  align-items: center;
  border-radius: 99px;
  padding-left: 88px;
}

.hero-btn {
  position: absolute;
  right: 0;
  top: 30px;
  background-image: url(../images/angol.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid var(--color-white);
  border-radius: 99px;
  width: 70px;
  height: 70px;
  background-color: inherit;
  cursor: pointer;
}
